*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color:darkkhaki;
    gap: .75rem;
}


main {
    border: 1px solid black;
    box-shadow: 0,0,10px,10px #222;
    padding: .75rem;
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#newTask {
    margin-bottom: .25rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    gap: .25rem;
    align-items: center;
}

.linethrough {
    text-decoration: line-through;
}


